data/preproceesed/*
data/processed/*
data/raw/*
build/app/models/context2vec/models/*
build/app/models/ocr/models/*
build/app/models/embeddings/*
build/app/models/context2vec/models/*
build/app/models/context2vec/models_103/*
build/app/models/OCRBeamSearch/model/snapshot*
build/app/models/OCRBeamSearch/model_new/snapshow*
build/app/models/OCRBeamSearch/model_orig/*
build/app/models/context2vec_orig/*
build/app/models/context2vec_orig/models/*
build/app/models/context2vec_orig/models_103/*

# ignore certain notebooks and checkpoints
**/*.ipynb_checkpoints/
build/app/*.ipynb

# ignore __pycache__
**/*__pycache__
