data/preproceesed/*
data/processed/*
data/raw/*
build/app/models/context2vec/models/*
build/app/models/ocr/models/*
build/app/models/embeddings/*
build/app/models/context2vec/models_test/*
build/app/models/context2vec/models_103/*
build/app/models/OCRBeamSearch/model/snapshot*
build/app/models/OCRBeamSearch/model/checkpoint
build/app/models/OCRBeamSearch/model_orig/*
build/app/models/context2vec2/models/*
